@media only screen and (max-width: 850px) {

    /* changes size and positioning of image when screen size is reduced */
    p img {
        float: none;
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 1280px) {

    /* changes size and positioning of image when screen size is reduced */
    .home-page{
        flex-direction: column;
        width: unset;
    }
}