/* Color scheme #78C0E0, #449DD1, #0E0E52 */

/* addes varible colors */
:root {
    --nav-color-1: #449DD1;
    --nav-color-2: #78C0E0;
}   



html {
    height: 100%;
    /* width: 100%; */
}

header {
    background-image: linear-gradient(45deg, var(--nav-color-1), var(--nav-color-2));
    display: flex;
    margin: 0px;
    flex: 0 0 auto;
}

body {
    background-color: #f5f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%    ;
    font-family: 'Noto Sans JP', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    width: 100%;
    justify-content: center;
}

/* nav */
nav {
    margin-right: auto;
    display: flex;
    padding: 5px;
}

nav a {
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

nav a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

nav a:active {
    background-color: rgba(0, 0, 0, 0.404);
}

.home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.preview {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #449DD1;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    max-width: 100%;
}

.preview:hover {
    box-shadow: 0 4px 8px 0 rgba(165, 164, 164, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-writing {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 0 0 3px 3px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    color: #0E0E52;
    max-width: 100%;
}

.page {
    max-width: 100%;
    margin: 20px;
}


.preview img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: auto;
}

/* moves image to right place in paragraph so it doesnt interfear with wrighting */
p img {
    float: right;
    margin: 0, 0, 10px, 10px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.home-page a, .home-page a:visited {
    color: black;
    text-decoration: none;
}



footer {
    background-image: linear-gradient(45deg, var(--nav-color-1), var(--nav-color-2));
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 5px;
    flex: 0 0 60px; 
}


/* Light box */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.904);
    justify-content: center;
    align-items: center;
}

.modal.visible {
    display: flex;
}

.modal img {
    height: 90%;
    width: 90%;
    object-fit: contain;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}


img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(165, 164, 164, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}